.btn-action{
    padding: 10px 20px;
    background-color: var(--action);
    border: none;
    border-radius: 50x;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn-action:hover{
    background-color: var(--action);
}